/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --azul-cielo: #75AADB;
  --dorado: #C8A84B;
  --blanco: #FFFFFF;
  --azul-profundo: #1A2D5A;
  --gris-suave: #F0F4FF;
  --font-display: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: var(--gris-suave);
  color: var(--azul-profundo);
  overflow-x: hidden;
}